 body {background:#e8c88b;font-family: 'Geologica', sans-serif;background-image: url(https://www9.0zz0.com/2023/11/21/22/635100015.jpg);background-repeat: no-repeat;background-size: cover;background-attachment: fixed;}
    
      
      
.header {padding: 15px 0;}
.card-cash {
    background: #e8c88b;
    max-width: 600px;
    margin: 15px auto;
    padding: 3rem 2rem;
    border-radius: 24px;
    box-shadow: 0 0 70px rgba(0, 0, 255, .5);
    margin-top: 5rem;

  position: relative;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 50px rgba(0, 0, 255, .5);
    }
    100% {
        box-shadow: 0 0 38px rgba(0, 0, 255, .8);
    }
}

.card-cash::before {
    content: "";
    background-image: url('https://monorolls.com/assets/images/favicon.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
    width: 130px; 
    height: 130px; 
 
    border-radius: 50px; 
    border: 09px solid #e8c88b; 
}

.modal-window {position: fixed;background-color: rgba(8, 8, 8, 0.259);top: 0;right: 0;bottom: 0;    left: 0;z-index: 999;transition: all 0.3s;display: none;}
.modal-window > div {width: 400px;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);padding: 20px;background-color:rgba(255, 255, 255, 1);border-radius: 6px;}
.modal-window header {font-weight: bold;}
.modal-window h1 {font-size: 150%;margin: 0 0 15px;}
.modal-close:hover {color: #fff;}
h2 {font-size: 1.4rem;}
p {color: rgb(102, 102, 102);}
#number-email {color: rgb(102, 102, 102);font-weight: bold;margin-top: 20px;}
.inp, .input-em input {background-color: rgb(244, 244, 244);border-radius: .9rem;margin-top: 5px;display: flex;padding: 19px 23px;}
.inp div:not(:first-child) {padding-left: 10px;}
.inp .input {padding-left: 15px !important;}
.input input, .input input:focus {background-color: rgb(244, 244, 244) ;border: none;outline: none;}
.bottons {display: flex;justify-content: space-between;margin-top: 25px;}
.bottons .change, .bottons .submit {border-radius: 29px;padding: 13px;width: 100%;text-align: center;cursor: pointer;}
.bottons .change {background-color: rgb(244, 244, 244);margin-right: 10px;}
.bottons .submit {background-color: rgb(0, 214, 75);margin-left: 10px;}
.input-em input {border: none;width: 100%;}

      .input-em input:focus {outline: rgb(0, 214, 75);border: rgb(0, 214, 75);}

 .submit-1.active {
    border: 9px solid rgb(0, 214, 985);
    text-align: center; 
}

@media (max-width: 768px) {
    .submit-1 img {
        width: 145px;
        height: auto; 
        display: block;
        margin: 1000 auto;

    }
}

@media (min-width: 769px) {
    .cash-value img {
        width: 503%;
        height: auto; 
        display: block;
        margin: 0 auto;

    }


}
    .submit-1 {
    text-align: center;

      padding: 10px;

      margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
    
 .submit-1 .value {
    background-color: #00d64b;
    border-radius: 0px;
    width: 190px; 
    height: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

    


.submit-1 .value {padding-left: 15px;}
.progress {background: rgb(244, 244, 244);justify-content: flex-start;border-radius: 100px;align-items: center;position: relative;padding: 0 5px;display: flex;height: 25px;width: 100%;}
.progress-value {animation: load 10s normal forwards;box-shadow: 0 10px 40px -10px #e8c88b;border-radius: 100px;background: rgb(0, 214, 75);height: 25px;width: 0;}

@keyframes load {0% { width: 0; }100% { width: 100%; }}

      #notis {display: flex;justify-content: end;color: rgb(102, 102, 102);font-size: .8rem;margin-top: 10px;}
